<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %> 
    <title>Wordle Results</title>
</head>
<body>
    <main class="container">
        <article id="main-article">
            <h1>Wordle Results - <%= new Date().toLocaleDateString() %></h1>
            <p aria-busy="true">Loading</p>
        </article>
    </main>

    <script src="/js/results.js"></script>
</body>
</html>