<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %> 
    <link rel="stylesheet" href="/css/results.css">
    <title>Wordle Results</title>
</head>
<body>
    <%- include ("../partials/nav", { activePage: "Results" }) %> 
    <main class="container">
        <article id="main-article">
            <div class="headings">
                <h1>Wordle Results<h1>
                <h2><%= new Date().toLocaleDateString() %></h2>
            </div>
            <p aria-busy="true">Loading</p>
        </article>
    </main>

    <script src="/js/modal.js"></script>
    <script src="/js/results.js"></script>
</body>
</html>